@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
}

section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#screen{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 475px;
}

section#icons{
    text-align: right;
}

section#icons img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
    box-sizing: border-box;
}

section#icons img:hover{
    border: 2px solid rgba(255, 255, 255, 0.582);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 5px black;
    transition: transform 0.5s;
}